dash>=4.2.0
dash-bootstrap-components>=2.0.4
pandas>=2.3.3
plotly>=6.8.0
python-dotenv>=1.2.2
dash-ag-grid>=35.2.0
databricks-sql-connector>=4.2.6
databricks-sdk>=0.117.0
databricks-connect==16.1.7
databricks-dlt>=0.3.0